/*
 * Copyright (c) 2024 Hubert Miś
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    ntc: ntc {
        compatible = "ntc,temperature";
        io-channels = <&adc 2>, <&adc 3>;
        r_ref = <10000>;
    };

    relay: relay {
        compatible = "gpio-relays";
        relay0: relay_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            label = "Heater relay";
        };
    };
};

&spi0 {
    status = "okay";

    ft800: ft800@0 {
        compatible = "ftdi,ft800";
        reg = <0>;
        spi-max-frequency = <8000000>;

        irq-gpios = <&gpio1 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        pclk = <5>;
        pclk_pol = <1>;
        cspread = <1>;
        swizzle = <0>;
        vsize = <272>;
        voffset = <12>;
        vcycle = <292>;
        vsync0 = <0>;
        vsync1 = <10>;
        hsize = <480>;
        hoffset = <43>;
        hcycle = <548>;
        hsync0 = <0>;
        hsync1 = <41>;

        status = "okay";
    };
};
