/*
 * Copyright (c) 2022 Hubert Miś
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Switch";
	compatible = "hubertmis,switch";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

    leds {
        compatible = "gpio-leds";
        led: led_0 {
            gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
            label = "LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio1 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 0";
        };
        sw1: button_1 {
            gpios = <&gpio1 4 (GPIO_ACTIVE_LOW)>;
            label = "High voltage switch 1";
        };
        sw2: button_2 {
            gpios = <&gpio1 6 (GPIO_ACTIVE_LOW)>;
            label = "High voltage switch 2";
        };
    };

    as1: analog_switch1 {
        compatible = "hubertmis,analog-switches";
        io-channels = <&adc 7>;
        status = "okay";
    };
    as2: analog_switch2 {
        compatible = "hubertmis,analog-switches";
        io-channels = <&adc 1>;
        status = "okay";
    };

    /*
    * In some default configurations within the nRF Connect SDK,
    * e.g. on nRF52840, the chosen zephyr,entropy node is &cryptocell.
    * This devicetree overlay ensures that default is overridden wherever it
    * is set, as this application uses the RNG node for entropy exclusively.
    */
    chosen {
        zephyr,entropy = &rng;
    };

    /* These aliases are provided for compatibility with samples */
/*
    aliases {
        red-pwm-led = &red_pwm_led;
        green-pwm-led = &green_pwm_led;
        blue-pwm-led = &blue_pwm_led;
        white-pwm-led = &white_pwm_led;
    };
*/
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&pwm0 {
    status = "okay";
    ch0-pin = <18>;
    ch0-inverted;
    ch1-pin = <19>;
    ch1-inverted;
    ch2-pin = <21>;
    ch2-inverted;
    ch3-pin = <23>;
    ch3-inverted;
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00067000>;
		};
		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};
